.technology-fifth-screen {
  margin-bottom: 58px;

  h3 {
    margin-bottom: 36px;
  }

  .media {
    display: flex;

  }

  .media__img-circle {
    span {
      min-width: 60px;
      width: 60px;
      height: 60px;
      display: block;
      border-radius: 50%;
      margin-right: 22px;
    }
  }
}

@media (max-width: 1199.98px) {
  .technology-fifth-screen {
    .media {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .technology-fifth-screen {
    margin-bottom: 20px;

    .media__img-circle {
      span {
        min-width: 30px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }

  .technology-fifth-screen h3 {
    margin-bottom: 24px;
  }

  .technology-fifth-screen {
    .media {
      p {
        margin-bottom: 0;
      }
    }
  }
}
