.technology-fourth-screen {
  margin-bottom: 58px;
}

.technology-fourth-screen__container-block {
  display: flex;
  align-items: center;
  margin-top: 16px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    min-width: 28px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background: $active-color;
  }

  p {
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .technology-fourth-screen__container-block p {
    font-size: 14px;
  }

  .technology-fourth-screen {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;

    .list-red-circle {
      padding-left: 30px;
    }
  }
}
