@import "bootstrap/bootstrap";
@import "owl/owl.carousel";
@import "owl/owl.theme.default";
@import "owl/owl.theme.green";


@import "common.blocks/text";
@import "common.blocks/common";
@import "common.blocks/list-red-circle";
@import "common.blocks/screen-demonstration";
@import "common.blocks/horizontal-drilling";
@import "common.blocks/communication-types";
@import "common.blocks/our-work-GHB";
@import "common.blocks/installation-rental";
@import "common.blocks/comparison-GNB";
@import "common.blocks/technology-GNB";
@import "common.blocks/advantages-GNB";
@import "common.blocks/application-GNB";
@import "common.blocks/alternative-drilling";
@import "common.blocks/news-company";
@import "common.blocks/applications";
@import "common.blocks/service-cost";
@import "common.blocks/main-navigation";
@import "common.blocks/main-container";
@import "common.blocks/header";
@import "common.blocks/footer";
@import "common.blocks/first-screen";
@import "common.blocks/about-company";
@import "common.blocks/basic-information";
@import "common.blocks/organizational-chart";
@import "common.blocks/project-implementation";
@import "common.blocks/calculator";
@import "common.blocks/radio";
@import "common.blocks/main-menu";
@import "common.blocks/button";
@import "common.blocks/table-v1";
@import "common.blocks/table-v2";
@import "common.blocks/main-card";
@import "common.blocks/media-main";
@import "common.blocks/burger";
@import "common.blocks/card-variation";
@import "common.blocks/card-v3";
@import "common.blocks/objects-year-block";
@import "common.blocks/services-page";
@import "common.blocks/name-parameter";


@import "common.blocks/technology-page/technology-second-screen";
@import "common.blocks/technology-page/technology-third-screen";
@import "common.blocks/technology-page/technology-fourth-screen";
@import "common.blocks/technology-page/technology-fifth-screen";
@import "common.blocks/technology-page/technology-sixth-screen";

@import "common.blocks/prices/price-page-second-section";

@import "common.blocks/sewerage/sewerage-page-second-section";

@import "common.blocks/production/production-common";
@import "common.blocks/production/production-page_second-screen";
@import "common.blocks/production/production-page_third-screen";
@import "common.blocks/production/production-page_fourth-screen";
@import "common.blocks/production/production-page_fifth-screen";


@import "common.blocks/experience/experience-page__block";
@import "common.blocks/experience/experience-page-second-screen";
@import "common.blocks/experience/experience-page-third-screen";
@import "common.blocks/experience/experience-page-fourth-screen";


@import "common.blocks/hire/hire-page-first-screen";

@import "common.blocks/contacts-page/contacts-page";

@import "common.blocks/prices-hhd/prices-hhd-second-screen";
@import "common.blocks/prices-hhd/prices-hhd-third-screen";
@import "common.blocks/prices-hhd/prices-hhd-fourth-screen";


@import "common.blocks/punching-steel-pipes/punching-steel-pipes-page-second-screen";
@import "common.blocks/punching-steel-pipes/punching-steel-pipes-page-third-screen";
@import "common.blocks/punching-steel-pipes/punching-steel-pipes__common";
@import "common.blocks/punching-steel-pipes/punching-steel-pipes-page-sixth-screen";


@import "common.blocks/avn/avn-page-second-screen";
@import "common.blocks/avn/avn-page-third-screen";
@import "common.blocks/avn/avn-page-fourth-screen";
@import "common.blocks/avn/avn-page-fifth-screen";
@import "common.blocks/avn/avn-page-seventh-screen";


@import "common.blocks/pipe-welding/pipe-welding-page-second-screen";
@import "common.blocks/pipe-welding/pipe-welding-page-third-screen";
@import "common.blocks/pipe-welding/pipe-welding-page-fourth-screen";


@import "common.blocks/bureshnekovogo-burenia/bureshnekovogo-burenia-page-third-screen";
@import "common.blocks/bureshnekovogo-burenia/bureshnekovogo-burenia-page-fourth-screen";
@import "common.blocks/bureshnekovogo-burenia/bureshnekovogo-burenia-page-fifth-screen";


@import "common.blocks/shitovaia-prohodka/shitovaia-prohodka-first-screen";
@import "common.blocks/shitovaia-prohodka/shitovaia-prohodka-second-screen";


@import "common.blocks/upravliaemyi-prokol/upravliaemyi-prokol-page-second-screen";
@import "common.blocks/upravliaemyi-prokol/upravliaemyi-prokol-page-third-screen";
@import "common.blocks/upravliaemyi-prokol/upravliaemyi-prokol-page-fourth-screen";
@import "common.blocks/upravliaemyi-prokol/upravliaemyi-prokol-page-fifth-screen";
@import "common.blocks/upravliaemyi-prokol/upravliaemyi-prokol-page-sixth-screen";
@import "common.blocks/upravliaemyi-prokol/upravliaemyi-prokol-page-seventh-screen";


@import "common.blocks/zamena-trub/zamena-trub-page-first-screen";


@import "common.blocks/list-of-news-page/list-of-news-page";

@import "common.blocks/text-page/text-page";

@import "common.blocks/beztronsheinaia-procladka-trub/beztronsheinaia-procladka-trub-page-second-screen";
@import "common.blocks/beztronsheinaia-procladka-trub/beztronsheinaia-procladka-trub-page-third-screen";


@import "common.blocks/grundoram/grundoram-page-second-screen";
@import "common.blocks/grundoram/grundoram-page-third-screen";
@import "common.blocks/grundoram/grundoram-page-fourth-screen";
@import "common.blocks/grundoram/grundoram-page-fifth-screen";


