@import "bootstrap/bootstrap";
@import "owl/owl.carousel";
@import "owl/owl.theme.default";
@import "owl/owl.theme.green";

@import "common.blocks/text";
@import "common.blocks/common";
@import "common.blocks/screen-demonstration";
@import "common.blocks/horizontal-drilling";
@import "common.blocks/communication-types";
@import "common.blocks/our-work-GHB";
@import "common.blocks/installation-rental";
@import "common.blocks/comparison-GNB";
@import "common.blocks/technology-GNB";
@import "common.blocks/advantages-GNB";
@import "common.blocks/application-GNB";
@import "common.blocks/alternative-drilling";
@import "common.blocks/news-company";
@import "common.blocks/applications";
@import "common.blocks/service-cost";
@import "common.blocks/main-navigation";
@import "common.blocks/main-container";
@import "common.blocks/header";
@import "common.blocks/footer";
@import "common.blocks/calculator";
@import "common.blocks/radio";
@import "common.blocks/main-menu";
@import "common.blocks/button";
@import "common.blocks/table-v1";
@import "common.blocks/table-v2";
@import "common.blocks/main-card";
@import "common.blocks/media-main";
@import "common.blocks/burger";
