.main-button {
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.brown-btn {
  background: linear-gradient(77.91deg, #984442 -17.78%, #C15F5C 93.17%);
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  font-family: $font-family-first;
  height: 40px;
  width: 168px;

  &:hover {
    color: #ffffff;
  }

  &:active {
    box-shadow: none;
  }
}