/*
    Common
*/

.wizard,
.tabcontrol
{
  display: block;
  width: 100%;
}

.wizard a,
.tabcontrol a
{
  outline: 0;
}

.wizard ul,
.tabcontrol ul
{
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
  display: block;
  padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
  position: absolute;
  left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
  position: absolute;
  left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
  position: relative;
  display: block;
  width: 100%;
}

.wizard.vertical > .steps
{
  display: inline;
  float: left;
  width: 30%;
}

.wizard > .steps .number
{
  font-size: 1.429em;
}

.wizard > .steps > ul > li
{
  width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
  float: left;
}

.wizard.vertical > .steps > ul > li
{
  float: none;
  width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 1em 1em;
  text-decoration: none;

  border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
  background: #eee;
  color: #aaa;
  cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
  background: #2184be;
  color: #fff;
  cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
  background: #9dc8e2;
  color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
  background: #ff3111;
  color: #fff;
}

.wizard > .content
{
  background: #eee;
  display: block;
  margin: 0.5em;
  min-height: 35em;
  //overflow: hidden;
  position: relative;
  width: auto;
  border-radius: 5px;
}

.wizard.vertical > .content
{
  display: inline;
  float: left;
  margin: 0 2.5% 0.5em 2.5%;
  width: 65%;
}

.wizard > .content > .body
{
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.wizard > .content > .body ul
{
  list-style: disc !important;
}

.wizard > .content > .body ul > li
{
  display: list-item;
}

.wizard > .content > .body > iframe
{
  border: 0 none;
  width: 100%;
  height: 100%;
}

.wizard > .content > .body input
{
  display: block;
  border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
  display: inline-block;
}

.wizard > .content > .body input.error
{
  background: rgb(251, 227, 228);
  border: 1px solid #fbc2c4;
  color: #8a1f11;
}

.wizard > .content > .body label
{
  display: inline-block;
  margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
  color: #8a1f11;
  display: inline-block;
  margin-left: 1.5em;
}

.wizard > .actions {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
}

.wizard.vertical > .actions
{
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%;
}

.wizard > .actions > ul
{
  display: inline-block;
  text-align: right;
}

.wizard > .actions > ul > li {
  margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
  margin: 0 0 0 1em;
}

.wizard > .actions a {
  color: #741E1F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 3px;
  min-width: 163px;
  height: 40px;
  transition: background 0.3s;

  &:hover,
  &:active {
    background: #e9e9e7;
    transition: background 0.3s;
  }

  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family: $font-family-first;
    color: #741E1F;
    display: inline-flex;

    i {
      background: url("../img/red-line-right-icon.svg") no-repeat center;
      background-size: 100% auto;
      width: 17px;
      height: 16px;
      display: block;
      margin-left: 10px;
      margin-top: 1px;
    }
  }
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
  background: #eee;
  color: #741E1F;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
  position: relative;
  display: block;
  width: 100%;
}

.tabcontrol > .steps > ul
{
  position: relative;
  margin: 6px 0 0 0;
  top: 1px;
  z-index: 1;
}

.tabcontrol > .steps > ul > li
{
  float: left;
  margin: 5px 2px 0 0;
  padding: 1px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
  background: #edecec;
  border: 1px solid #bbb;
  padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 0 none;
  padding: 0 0 1px 0;
  margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
  color: #5f5f5f;
  display: inline-block;
  border: 0 none;
  margin: 0;
  padding: 10px 30px;
  text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
  text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
  padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35em;
  overflow: hidden;
  border-top: 1px solid #bbb;
  padding-top: 20px;
}

.tabcontrol > .content > .body
{
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
  list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
  display: list-item;
}

.calculator-work {
  margin-top: 30px;

  .wizard>.actions>ul>li.disabled {
    display: none;
  }

  .wizard>.content {
    min-height: 350px;
  }

  .wizard>.content>.body {
    width: 100%;
    height: 100%;
  }

  .wizard>.steps a,
  .wizard>.steps a:active,
  .wizard>.steps a:hover {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #ffffff;
  }

  .wizard>.steps .current a,
  .wizard>.steps .current a:active,
  .wizard>.steps .current a:hover {
    background: $active-color;
  }

  .wizard>.steps>ul>li {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background: url("../img/jumper-icon.svg") no-repeat center;
      background-size: 100% auto;
      width: 24px;
      height: 6px;
      display: block;
      left: 18px;
    }

    &:last-child:before {
      display: none;
    }
  }

  .wizard>.steps .number {
    font-size: 0;
  }

  .calculator-work__indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wizard>.steps {
    position: absolute;
    max-width: 184px;
    width: 100%;
    z-index: 1;
    bottom: -70px;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
  }

  .wizard.clearfix {
    position: relative;
  }

  .wizard>.content {
    background: none;
    margin: 0;
    border-radius: 0;
  }

}

.calculator-work {
  background: url("../img/background-workload.jpg") no-repeat center;
  background-size: cover;

  h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 9px;
  }
}

.calculator-work__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #C7C7C7;
  font-family: $font-family-second;
  display: block;
}

.calculator-work__section {
  display: flex;
  margin-top: 23px;
  justify-content: space-between;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
}

.calculator-work__wrapper {
  width: 45%;
}

.calculator-work__footer {
  height: 89px;
  width: 100%;
  background: rgba(180, 87, 84, .7);
}

.calculator-work__bottom-step {
  position: absolute;
  bottom: -40px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);

  font-weight: bold;
  font-family: $font-family-second;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

@media (max-width: 1199.98px) {
  .calculator-work .wizard>.content {
    min-height: 400px;
  }
}

@media (max-width: 991.98px) {
  .calculator-work__section {
    flex-direction: column;
  }

  .calculator-work__wrapper {
    width: 100%;
  }

  .calculator-work .wizard>.content {
    min-height: 540px;
  }
}

@media (max-width: 767.98px) {
  .calculator-work__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 36px;
  }

  .calculator-work__bottom-step {
    font-size: 16px;
  }

  .calculator-work .wizard>.content>.body {
    padding-top: 32px;
  }

  .wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover {
    min-width: 100px;
  }

  .wizard>.actions>ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wizard>.actions>ul>li {
    margin-bottom: 5px;
  }

  .wizard>.actions {
    bottom: 25px;
  }
}
