.card-variation {
  width: 100%;
  height: 202px;
  min-height: 202px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  border: 1px solid #CBCBCB;
  margin-bottom: 26px;
}

.card-variation__footer {
  background: rgba(255, 255, 255, .9);
  min-height: 66px;
  width: 100%;
  padding: 10px 20px 10px 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    font-size: 16px;
    line-height: 20px;
    color: $active-color;
  }
}
