html, body {
  height: 100%;
}

body {
  & > .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;

    & > .content {
      flex: 1;
      width: calc(100% - 250px);
      max-width: 1920px;
      margin-right: auto;
    }
  }
}

.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}

.left-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  position: relative;
  z-index: 1000;
  transition: 0.3s;
}

.container {
  max-width: 1920px;
  margin-left: 0;
}

.section {
  max-width: 1920px;
}

.icon-cable {
  background: url("../img/cable-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 61px;
  height: 61px;
  display: block;
}

.icon-cord {
  background: url("../img/cord-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 51px;
  height: 51px;
  display: block;
}

.icon-gauge {
  background: url("../img/gauge-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.icon-valve {
  background: url("../img/valve-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 59px;
  height: 59px;
  display: block;
}

.icon-sewage {
  background: url("../img/sewage-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 57px;
  height: 57px;
  display: block;
}

.icon-heating-networks {
  background: url("../img/heating-networks-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 61px;
  height: 32px;
  display: block;
}

.circle-brown {
  border: 2px solid #741E1F;
  border-radius: 50%;
  display: inline-flex;
}

.circle-brown-wrapper {
  min-width: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  margin-right: 28px;
  margin-left: 10px;
}

.circle-brown-1 {
  min-width: 5px;
  height: 5px;
}

.circle-brown-2 {
  min-width: 8px;
  height: 8px;
}

.circle-brown-3 {
  min-width: 11px;
  height: 11px;
}

.circle-brown-4 {
  min-width: 15px;
  height: 15px;
}

.circle-brown-5 {
  min-width: 20px;
  height: 20px;
}

.circle-brown-6 {
  min-width: 25px;
  height: 25px;
}

.circle-brown-7 {
  min-width: 31px;
  height: 31px;
}

.circle-brown-8 {
  min-width: 35px;
  height: 35px;
}

.circle-brown-9 {
  min-width: 40px;
  height: 40px;
}

.circle-brown-10 {
  min-width: 50px;
  height: 50px;
}

.left-arrow-red {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: url("../img/red-icon-arrow.svg") no-repeat center;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    display: block;
    left: -30px;
    top: 6px;
  }
}

.underpasses-icon {
  background: url("../img/underpasses-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.scenery-icon {
  background: url("../img/scenery-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.security-icon {
  background: url("../img/security-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.time-reduction-icon {
  background: url("../img/time-reduction-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.weather-icon {
  background: url("../img/weather-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.no-risk-icon {
  background: url("../img/no-risk-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.landscape-icon {
  background: url("../img/landscape-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.calendar-icon {
  background: url("../img/calendar-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.under-way-icon {
  background: url("../img/under-way-icon.png") no-repeat center;
  background-size: 100% auto;
}

.under-water-icon {
  background: url("../img/under-water-icon.png") no-repeat center;
  background-size: 100% auto;
}

.under-railway-icon {
  background: url("../img/under-railway-icon.png") no-repeat center;
  background-size: 100% auto;
}

.under-building-icon {
  background: url("../img/under-building-icon.png") no-repeat center;
  background-size: 100% auto;
}

.owl-nav {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
}

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-43%, -3px);
  margin-left: -5px;
  margin-right: -5px;
}

.owl-prev {
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  span {
    background: url("../img/carousel-btn.svg") no-repeat center;
    background-size: 100% auto;
    width: 35px;
    min-width: 35px;
    height: 35px;
    display: block;
  }
}

.owl-next {
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  span {
    background: url("../img/carousel-btn.svg") no-repeat center;
    background-size: 100% auto;
    width: 35px;
    min-width: 35px;
    height: 35px;
    display: block;
    transform: rotate(180deg);
  }
}

.owl-dot {
  width: 16px;
  margin-left: 5px;
  margin-right: 5px;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  span {
    min-width: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #B35654;
    display: block;
  }
}

.owl-dot.active {
  span {
    background: #B35654;
  }
}

.icon-youtube {
  background: url("../img/youtube-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.icon-vk {
  background: url("../img/vk-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.icon-viber {
  background: url("../img/viber-iocn.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.icon-wp {
  background: url("../img/wp-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.icon-telegram {
  background: url("../img/telegram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}
////////////////////////////////////////////////////////////////////

#slider {
  max-width: 1920px;
  height: 516px;
  overflow: hidden;
}

.slider-content {
  height: 516px;
  width: 10000px;
  font-weight: 300;
}

.slider-item {
  position: relative;
  height: 516px;
  overflow: hidden;
  transform: translate3d(0, 0, 0) skew(-8deg, 0deg);
  transition: all 0.5s;
  border-left: 4px solid #ffffff !important;
}

.slider-item:first-child {
  margin-left: -45px;
}

.image {
  float: left;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.item-img-1 {
  height: 516px;
  width: 100%;
  top: 0;
  position: absolute;
  left: -50px;
  //background-size: 100% 516px !important;
  background-position: right !important;
  background-size: cover !important;
  transform: translate3d(0, 0, 0) skew(8deg, 0deg);
  transition: all 0.5s;
}

.item-img-1-01 {
  width: 1045px;
}

.item-img-1-02 {
  width: 649px;
}

.item-img-1-03 {
  width: 675px;
}

.item-img-1-04 {
  width: 645px;
}

.item-text {
  position: absolute;
}

#wrapper {
  width: calc(100% - 250px);
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: auto;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  max-height: 100%;
  overflow: hidden;
}
#sidebar:hover {
  overflow-y: scroll;
}

@media (max-width:700px) {

  .item-img-1,  {
    height: 450px;
  }
}


////////////////////

@media (max-width: 1199.98px)  {
  .owl-nav {
    max-width: 300px;
  }
}

@media (max-width: 991.98px) {
  .app>.wrapper>.content {
    width: calc(100% - 50px);
  }

  .app.active>.wrapper>.content {
    width: calc(100% - 50px);
    margin-left: 51px;
  }

  .left-container {
    flex-basis: 50px;
  }

  #sidebar {
    width: 51px;
  }

  #wrapper {
    width: calc(100% - 51px);
  }
}

@media (max-width: 767.98px)  {
  #slider,
  .slider-content,
  .slider-item,
  .item-img-1 {
    height: 400px;
  }

  .slider-item,
  .item-img-1 {
    transform: none;
  }

  .slider-item {
    border-left: 2px solid #ffffff !important;
  }

  .communication-types__block-container {
    justify-content: center;
  }

  .icon-cable {
    width: 44px;
    height: 44px;
  }

  .icon-cord {
    width: 32px;
    height: 32px;
  }

  .icon-gauge {
    width: 36px;
    height: 36px;
  }

  .icon-valve {
    width: 36px;
    height: 36px;
  }

  .icon-sewage {
    width: 36px;
    height: 36px;
  }

  .icon-heating-networks {
    width: 36px;
    height: 19px;
  }

  .circle-brown-wrapper {
    display: none;
  }
}

