.horizontal-drilling_container {
  padding-top: 58px;

  h2 {
    margin-bottom: 30px;
  }
}

.horizontal-drilling__img-text {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  font-family: $font-family-first;
  margin-bottom: 0;
}

.horizontal-drilling__img-link {
  font-size: 16px;
  line-height: 24px;
  color: #B65855;
  font-family: $font-family-first;
  text-decoration-line: underline;
}

.horizontal-drilling__img-container {
  margin-left: 30px;
}

.horizontal-drilling__img {
  img {
    width: 100%;
  }
}

.horizontal-drilling-container__list {
  padding-left: 23px;
  list-style-type: none;
  margin-bottom: 0;
}

.horizontal-drilling-container__item {
  display: flex;
}

.horizontal-drilling-container__circleIcon {
  background: #B15552;
  min-width: 8px;
  height: 8px;
  display: block;
  margin-right: 18px;
  border-radius: 50%;
  margin-top: 11px;
}