.horizontal-drilling_container {
  padding-top: 58px;

  h2 {
    margin-bottom: 30px;
  }

  iframe {
    width: 100%;
  }
}

.horizontal-drilling__img-text {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  font-family: $font-family-first;
  margin-bottom: 0;
}

.horizontal-drilling__img-link {
  font-size: 16px;
  line-height: 24px;
  color: #B65855;
  font-family: $font-family-first;
  text-decoration-line: underline;
}

.horizontal-drilling__img-container {
  margin-left: 30px;
}

.horizontal-drilling__img {
  img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.horizontal-drilling-container__list {
  padding-left: 23px;
  list-style-type: none;
  margin-bottom: 0;
}

.horizontal-drilling-container__item {
  display: flex;
}

.horizontal-drilling-container__circleIcon {
  background: #B15552;
  min-width: 8px;
  height: 8px;
  display: block;
  margin-right: 18px;
  border-radius: 50%;
  margin-top: 11px;
}

.horizontal-drilling__img-text-arrow {
  position: relative;

  &:before {
    content: '';
    background: url("../img/top-arrow-red-icon.svg") no-repeat center;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -26px;
    top: 2px;
  }
}

@media (max-width: 1199.98px) {
  .horizontal-drilling__img {
    margin-bottom: 40px;

    img {
      max-width: 500px;
    }
  }
}

@media (max-width: 767.98px)  {
  .horizontal-drilling_container {
    padding-top: 26px;

    iframe {
      height: 143px;
    }

    h2 {
      margin-bottom: 25px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }

  .horizontal-drilling__img {
    margin-bottom: 20px;
  }

  .horizontal-drilling-container__wrapper {
    padding-top: 33px !important;

    &> p {
      margin-bottom: 30px;
    }
  }

  .horizontal-drilling-container__list {
    padding-left: 10px;
  }

  .horizontal-drilling__img-text {
    display: inline;
  }
}