.main-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.main-menu__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #4F4F4F;
  font-family: $font-family-first;
}

.main-menu__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1300px) {
  .main-menu__item {
    margin-right: 15px;
  }
}