.main-navigation {
  max-width: 250px;
  width: 100%;
  background: linear-gradient(180deg, #3F80CD 0%, #3843A9 100%);
  display: flex;
  flex-direction: column;
  padding: 16px 21px 10px 16px;
  position: relative;
  z-index: 1000;
}

.main-navigation__logo {
  margin-bottom: 34px;
  margin-top: 16px;

  a {
    background: url("../img/main-logo.svg") no-repeat center;
    background-size: 100% auto;
    width: 195px;
    height: 41px;
    display: block;
  }

  .main-navigation__logo-text {
    font-family: $font-family-third;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 6px;
    margin-bottom: 0;
  }
}

.main-navigation__services {
  margin-bottom: 92px;
}

.main-navigation__rent {
  padding-bottom: 137px;
}

.main-navigation__list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 19px;
}

.main-navigation__item {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  display: flex;
  margin-top: 14px;

  &:first-child {
    margin-top: 0;
  }
}

.main-navigation__item-link {
  font-family: $font-family-first;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  display: block;
  padding-bottom: 19px;

  &:hover {
    text-decoration: none;
    color: #D6D6D6;
  }
}

.main-navigation__item-block {
  min-width: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-left: -7px;
}

.main-navigation__item-icon {
  display: block;
  margin-top: 4px;
}

.main-navigation__item-icon-1 {
  background: url("../img/icon-circle-1.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 33px;
  height: 25px;
}

.main-navigation__item-icon-2 {
  background: url("../img/icon-circle-2.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 32px;
  height: 25px;
}

.main-navigation__item-icon-3 {
  background: url("../img/icon-circle-3.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 29px;
  height: 25px;
}

.main-navigation__item-icon-4 {
  background: url("../img/icon-circle-4.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 35px;
  height: 25px;
}

.main-navigation__item-icon-5 {
  background: url("../img/icon-circle-5.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 25px;
  height: 25px;
}

.main-navigation__item-icon-6 {
  background: url("../img/icon-circle-6.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 27px;
  height: 25px;
}

.main-navigation__item-icon-setting {
  background: url("../img/icon-gnb.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 29px;
  height: 23px;
  margin-top: 0;
}

.main-navigation__item-icon-jack {
  background: url("../img/icon-jack.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 21px;
  height: 21px;
  margin-top: 8px;
}

.main-navigation__item-icon-crane {
  background: url("../img/icon-crane.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 25px;
  height: 22px;
  margin-top: 0;
}

.header__wrapper-mob {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-navigation__rent-vertical {
  display: none;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  position: relative;
  left: -14px;
}

.main-navigation__wrapper {
  display: flex;
  flex-direction: column;
}

.main-navigation__mob-close {
  display: none;
}

@media (min-height: 1020px) {
  .main-navigation {
    height: 100vh;
    max-height: 100vh;
  }
}

@media (max-width: 991.98px) {
  .resize-sensor {
    display: none;
  }

  .main-navigation__wrapper {
    min-height: 100vh;
    justify-content: space-between;
  }
  
  .main-navigation__services {
    margin-bottom: 42px;
  }

  .main-navigation__list {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .main-navigation__rent {
    padding-bottom: 26px;
    padding-top: 30px;
    background: rgba(0, 0, 0, .25);
    height: 100%;
  }

  .left-container .main-navigation {
    max-width: 100%;
    width: 50px;
    padding: 0;
    position: relative;
    min-height: 100vh;
    transition: width 0.3s;

   .main-navigation__rent-list {
     display: none;
   }

   .main-navigation__logo-text {
     display: none;
   }

   .main-navigation__rent-vertical {
     display: block;
   }

   .main-navigation__rent-horizontal {
     display: none;
     padding-left: 10px;
     margin-bottom: 16px;
   }

   .main-navigation__logo a {
     background: url("../img/main-logo__mobil.svg") no-repeat center;
     background-size: 100% auto;
     width: 22px;
     height: 31px;
     display: block;
     margin-left: 15px;
   }

   .main-navigation__item-link {
     display: none;
     min-width: 260px;
   }
  }

  .left-container.active {
    overflow: hidden;
    flex-basis: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    min-height: 100vh;
    z-index: 1000;
    width: 100%;

    .main-navigation__mob-close {
      display: block;
    }

    .main-navigation__item {
      margin-top: 14px;
    }

    .main-navigation__rent {
      padding-left: 5px;
      padding-right: 5px;
    }

    .main-navigation {
      width: 100%;
      position: relative;
      max-width: 100%;
      transition: all 0.3s;
    }

    .main-navigation__logo a {
      background: url(../img/main-logo.svg) center/100% auto no-repeat;
      width: 195px;
      height: 41px;
      display: block;
    }

    .main-navigation__item-link {
      display: block;
      animation: rightAnimation 0.8s ease-in-out;
    }

    .main-navigation__rent-vertical {
      display: none;
    }

    .main-navigation__rent-horizontal {
      display: block;
    }

    .main-navigation__rent-list {
      display: block;
    }

  }

  .main-navigation__item-block {
    margin-left: 0;
  }

  .main-navigation__services h4 {
    display: none;
  }

  .main-navigation__item {
    border: none;
    margin-top: 30px;
    transition: margin-top 0.3s;
  }

  .main-navigation__mob-close {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;

    button {
      background: url("../img/mobil-icon-close.svg") no-repeat center;
      background-size: 100% auto;
      display: block;
      width: 47px;
      height: 51px;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

@media (max-width: 767.98px) {
  .main-navigation__services {
    margin-bottom: 15px;
  }

  .main-navigation__item {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .main-navigation__logo {
    margin-bottom: 15px;
  }

  .main-navigation__wrapper {
    min-height: 100vh;
  }
}

@keyframes rightAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}