.media-main {
  margin-bottom: 30px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    max-width: 179px;
  }
}

.media-main__body {
  padding-top: 14px;
}

.media-main__title {
  margin-bottom: 18px;
}

.media-main__data {
  font-family: $font-family-first;
  font-size: 14px;
  line-height: 17px;
  color: #777777;
  margin-bottom: 6px;
}

p.media-main__text {
  font-family: $font-family-first;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  margin-bottom: 15px;
}

a.media-main__text {
  font-family: $font-family-first;
  font-size: 14px;
  line-height: 17px;
  color: #B65855;
}

.media-main__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-width: 179px;
  height: 170px;
  display: block;
}

@media (max-width: 767.98px) {
  .media-main {
    flex-direction: column;

    img {
      margin-right: 0 !important;
      max-width: 100%;
      width: 100%;
      height: 150px;
    }
  }

  .media-main__news-company-link {
    width: 100%;
  }
}
