.organizational-chart {

}

.organizational-chart__table-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family-first;
}

.organizational-chart__table-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-first;
}