.screen-demonstration {
  overflow: hidden;
  height: 516px;
  position: relative;
  //margin-top: 71px;
}

.screen-demonstration__main {
  display: flex;
  flex-direction: row;
  height: 516px;

}

.screen-demonstration__footer {
  background: rgba(37, 36, 35, .65);
  padding-top: 19px;
  padding-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  h1 {
    position: relative;
    z-index: 1;
    color: #ffffff;
    max-width: 630px;
    margin-bottom: 0;
  }
}

@media (max-width: 1199.98px) {
  .screen-demonstration {
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .screen-demonstration {
    height: 400px;
  }
}