.services-page__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.services-page__block-text {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.services-page__block-img {
  margin-bottom: 13px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .services-page__block-text {
    font-size: 14px;
  }
}
