.table.table-v1 {
  margin-bottom: 0;

  thead {
    background: #4262B9;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: $font-family-second;
  }

  th {
    border: none;
    padding-left: 25px;
    vertical-align: middle;
  }

  tr {
    height: 63px;
    border: 1px solid #E0E0E0;

    &:nth-child(even) {
      background: rgba(233, 233, 231, .7);
    }

    td {
      background: rgba(233, 233, 231, .5);
      padding-top: 5px;
      padding-bottom: 0;
      vertical-align: middle;
    }

    td:nth-child(even) {
      border-left: 1px solid #E0E0E0;
      background: rgba(233, 233, 231, .8);

      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $active-color;
        font-family: $font-family-first;
        padding-left: 28px;

        br {
          display: none;
        }
      }
    }

    td:nth-child(odd) {

      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #555555;
        font-family: $font-family-first;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .table.table-v1 tr td:first-child {
    width: 40%;
  }
}

@media (max-width: 767.98px)  {
  .table.table-v1 thead {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .table.table-v1 th {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .table.table-v1 tr td:last-child span {
    padding-left: 0;
  }

  .table.table-v1 tr td:first-child {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .table.table-v1 tr td:last-child span {

    br {
      display: inline;
    }
  }
}
