.technology-GNB_container {
  padding-top: 50px;

  h2 {
    text-align: center;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
}

.technology-GNB__imgWrapper {
  position: relative;

  img {
    max-width: 528px;
  }
}

.technology-GNB__imgWrapper-text {
  position: absolute;
  top: 160px;
  right: 0;
  max-width: 220px;

  p {
    font-family: $font-family-first;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 0;
  }

  a {
    font-family: $font-family-first;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #B65855;
  }
}

@media (min-width: 1500px) {
  .technology-GNB__imgWrapper-text {
    right: 100px;
  }
}

@media (max-width: 1199.98px) {
  .technology-GNB__imgWrapper-text {
    right: 0;
  }

  .technology-GNB__imgWrapper {
    display: none;
  }
}

@media (max-width: 767.98px)  {
  .technology-GNB_container {
    .main-text {
      font-size: 14px;
    }

    h2 {
      text-align: left;
    }
  }
}