.grundoram-page-fourth-screen__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: $font-family-second;
  color: #333333;
}

@media (max-width: 767.98px) {
  .grundoram-page-fourth-screen__title {
    font-size: 16px;
  }
}
