.grundoram-page-second-screen__block {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
}

.grundoram-page-second-screen__block-item {
  align-items: center;
  display: flex;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    color: #555555;
    margin-bottom: 0;
  }
}

.grundoram-page-second-screen__block-img {
  min-width: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

@media (max-width: 767.98px) {
  .grundoram-page-second-screen__block {
    max-width: 100%;
    margin-top: 24px;
  }
}
