.bureshnekovogo-burenia-page-fifth-screen {
  margin-bottom: 85px;
}
.bureshnekovogo-burenia-page-fifth-screen__block {
  display: flex;
  flex-direction: column;
  max-width: 252px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bureshnekovogo-burenia-page-fifth-screen__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 15px;
}

.bureshnekovogo-burenia-page-fifth-screen__list {
  display: flex;
  flex-direction: column;
}

.bureshnekovogo-burenia-page-fifth-screen__item {
  margin-bottom: 24px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.bureshnekovogo-burenia-page-fifth-screen__icon {
  width: 65px;
  min-width: 65px;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

@media (max-width: 767.98px) {
  .bureshnekovogo-burenia-page-fifth-screen__block {
    display: none;
  }

  .bureshnekovogo-burenia-page-fifth-screen {
    .list-red-circle {
      padding-left: 35px;
    }
  }
}

