.experience-page-second-screen {
  padding-bottom: 85px;
}

.experience-page-second-screen__title {
  margin-bottom: 60px;
}

.experience-page-second-screen__subTitle {
  margin-bottom: 26px;
}

@media (max-width: 767.98px) {
  .experience-page-second-screen {
    padding-bottom: 40px;
  }

  .experience-page-second-screen__title {
    margin-bottom: 24px;
  }
}
