.experience-page-fourth-screen {
  padding-bottom: 40px;
}

.experience-page-fourth-screen__text {
  max-width: 790px;
  margin-bottom: 40px;

  p {
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px){
  .experience-page-fourth-screen__text {
    margin-bottom: 20px;
  }
}
