.punching-steel-pipes {

}

.punching-steel-pipes__img-1 {
  background: url("../img/punching-steel-pipes/punching-steel-pipes__img-1.png") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 68px;
  display: block;
}

.punching-steel-pipes__img-2 {
  background: url("../img/punching-steel-pipes/punching-steel-pipes__img-2.png") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 68px;
  display: block;
}

.punching-steel-pipes__img-3 {
  background: url("../img/punching-steel-pipes/punching-steel-pipes__img-3.png") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 68px;
  display: block;
}

.punching-steel-pipes__img-4 {
  background: url("../img/punching-steel-pipes/punching-steel-pipes__img-4.png") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 68px;
  display: block;
}

.punching-steel-pipes__img-5 {
  background: url("../img/punching-steel-pipes/punching-steel-pipes__img-5.png") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 102px;
  display: block;
}

