.punching-steel-pipes-page-third-screen {
  padding-bottom: 67px;
}

.punching-steel-pipes-page-third-screen__block {
  display: flex;
  flex-direction: column;
  max-width: 395px;
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .punching-steel-pipes-page-third-screen__block {
    display: none;
  }

  .punching-steel-pipes-page-third-screen {
    padding-bottom: 50px;

    .list-red-circle {
      padding-left: 35px;
    }
  }
}
