.sewerage-page-second-section {
  padding-top: 24px;
  padding-bottom: 86px;

  a {
    color: $active-color;
    &:hover {
      text-decoration: none;
    }
  }

  ul {
    margin-bottom: 34px;
    padding-left: 35px;
  }
}

.sewerage-page-second-section__block {
  margin-top: 30px;

  a {
    color: #333333;
    font-weight: bold;
  }

  span {
    font-weight: bold;
  }
}
